.container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "left right";
    grid-auto-columns: 1fr;
    margin-top: 2rem;
}

.title {
    font-size: 450%;
    color: #FF296C;
    margin: 0;
    margin-bottom: 1rem;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.decOne {
    width: 50%;
}

.titleDesc {
    font-size: 200%;
    margin: 0;
    margin-bottom: 1rem;
}

.desc {
    font-size: 150%;
    text-align: center;
    padding: 0 10rem;
}