.section {
    text-align: center;
}

.container {
    height: 100%;
    display: grid;
    grid-template-areas: 
        "left right";
    grid-auto-columns: 1fr;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.title {
    font-size: 450%;
    margin: 0;
    margin-bottom: 1rem;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.decOne {
    width: 50%;
}

.decTwo {
    width: 50%;
    margin-top: 20rem;
}

.titleDesc {
    font-size: 200%;
    margin: 0;
    margin-bottom: 1rem;
}

.desc {
    font-size: 150%;
    text-align: center;
    padding: 0 10rem;
}