html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

@font-face {
  font-family: Electrolize;
  src: url('./Electrolize/Electrolize-Regular.ttf');
}

.primary {
  color: #FF296C;
  text-shadow: 5px 5px 40px #FF296C;
  background-color: transparent;
}

.blue {
  color: #02D8E9;
  text-shadow: 5px 5px 40px #02D8E9;
  background-color: transparent;
}