.container {
  height: 100vh;
  padding: 17rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 80px;
}


.text {
  font-family: Electrolize;
  font-size: 250%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.decariOne {
  width: 10%;
}

.glitch {
  text-shadow: 
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 2000ms infinite;
}



@keyframes glitch {
  0% {
    text-shadow: 
    0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  7% {
    text-shadow: 
    0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
    -0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: 
    -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
    0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
    -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  25% {
    text-shadow: 
    0.05em -0.05em 0 rgba(255, 0, 0, 0.75),
    0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 
    0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
    0.05em 0 0 rgba(0, 255, 0, 0.75),
    0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  75% {
    text-shadow: 
    -0.025em -0.05em 0 rgba(255, 0, 0, 0.75),
    0.05em 0 0 rgba(0, 255, 0, 0.75),
    -0.025 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: 
    -0.025em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media screen and (max-width: 1025px) {

  .container {
    margin: 0;
    padding: 9rem 0rem;
  }
  
  .title {
    width: 100%;
  }

  .text {
    font-size: 120%;
  }
  
}