.container {
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 80px;
}

.text {
  font-family: Electrolize;
  font-size: 250%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1025px) {

  .container {
    margin: 0;
    padding: 0;
  }
  
  .title {
    width: 100%;
  }


  .text {
    font-size: 120%;
  }
  
}