.container {
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 80px;
}

.text {
  font-family: Electrolize;
  
}