.nav {
    display: flex;
    position: fixed;
    list-style: none;
    font-size: 170%;
    justify-content: center;
    align-items: center;
    font-family: Electrolize;
    margin: 0;
    padding: 1rem;
    width: 100vw;
    background-color: #0e0d0d;
}

.pfp {
    width: 50pt;
    height: 50pt;
    border-radius: 50%;
    margin: 0 4rem;
}

.link {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: 200ms ease;
}

.link:hover {
    background-color: rgba(114, 114, 114, 0.6);
}