.socialList {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.logo {
    margin: 1rem;
    width: 40pt;
    height: 40pt;
    transition: 200ms;
}

.logo:hover {
    transform: scale(1.2);
}



@media screen and (max-width: 1025px) {
  .logo {
    width: 30pt;
    height: 30pt;
    margin: 0.7rem;
  }
}