.socialList {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.logo {
    margin: 1rem;
    width: 40pt;
    height: 40pt;
    transition: 200ms;
}

.logo:hover {
    filter: invert(5%) sepia(53%) saturate(2882%) hue-rotate(138deg) brightness(102%) contrast(98%);
    transform: scale(1.2);
}
